.Landing-Container {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	min-height: 100vh;
	height: max-content;
	background-color: #000;
}

.Landing-Logo {
	width: 12%;
	margin-top: 10vh;
	margin-bottom: 2vh;
}

.Greeting-Group {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 15vh;
}


.Greeting-Group h1 {
	font-size: 7rem;
	margin: 0;
}
.Greeting-Group h1 span {
	font-size: 3.3rem;
	margin-bottom: .6rem;
}
.Greeting-Group h2 {
	position: relative;
	font-size: 1.7rem;
	width: 90%;
	letter-spacing: 1.2rem;
	padding-left: 1.2rem;
	margin-top: 1.4rem;

	border-top: .3rem solid white;
	/* border-bottom: .17rem solid white; */
}