
.Hours-Container {
	position: relative;

}

.Business-Hours button h2 {
	font-size: 1.3rem;
}
.Business-Hours h2 {
	font-size: 2.6rem;
}

.Business-Hours h3 {
	font-size: .9rem;
	line-height: 1.3rem;
}

.Business-Hours {
	width: 24rem;
	padding: 2rem 1.5rem;
	background-color: #141718e7;
}

.Business-Hours .headline {
	margin-bottom: 2.4rem;
}

.Business-Hours .Button-Group {
	justify-content: space-evenly;

	margin-top: 2.7rem;
}

.Day {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
	/* white-space: nowrap; */
}
.Day :nth-child(1) {
	text-align: left;
	margin-right: auto;
}
.Day :nth-child(2) {
	white-space: nowrap;
	margin-left: .4rem;
}

.Hours-Message {
	display: flex;
	flex-direction: column;
	justify-content:center;
	margin-bottom: 1rem;
}

.Hours-Message h3 {
	font-size: .75rem;
	line-height: 1.1rem;
	padding: 1rem 0;
	color: rgb(199, 182, 182);
}

.Hours-Message::before,
.Hours-Message::after {
	content: '';
	display: flex;
	position: relative;
	align-self: center;
	top: 0;left: 0;
	height: .14rem;
	width: 44%;
	background-color: white;
	opacity: .05;
}

.Hours-Container .va {
	--stag-mod: 3;
}
.Hours-Container .idle.va {
	--stag-mod: 0;
}

.Regular-Hours,
.Irregular-Hours {
	padding: 0 1.5rem;
}
.Irregular-Hours {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	padding-right: 1.2rem;
	overflow-x: hidden;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: .3rem;
}
::-webkit-scrollbar-track {
	background: #0c1113;
}
::-webkit-scrollbar-thumb {
	width: 1rem;
	border-radius: 1rem;
	background-color: rgb(3, 6, 7);
}
::-webkit-scrollbar-thumb:hover {
	width: 1rem;
	border-radius: 1rem;
	background-color: rgb(0, 0, 0);
}
.idle::-webkit-scrollbar-track,
.idle::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0);
}


@media screen and (min-width: 501px) {
	.Business-Hours {
		/* height: 100%; */
		/* --res-scale: calc(4rem + ((100vw - 1300px) / 15)); */
		/* padding: 4rem var(--res-scale) 2.5rem var(--res-scale) */
	}
	.Business-Hours button h2 {
		font-size: 1.3rem;
	}
	.Business-Hours h2 {
		font-size: 2rem;
	}

	.Business-Hours {
		width: 22rem;
		/* padding: 2rem 2.7rem 2rem 2.7rem; */
		background-color: #141718e7;
	}

	.Business-Hours .headline {
		margin-bottom: 1rem;
	}
}