
.Business-Hours button h2 {
	font-size: 1.3rem;
}
.Business-Hours h2 {
	font-size: 2rem;
}

.Business-Hours h3 {
	font-size: .9rem;
	line-height: .9rem;
}

.Business-Hours {
	width: 20rem;
	padding: 2rem 3rem 2rem 3rem;
	margin: 4rem 0 4rem 0;
	background-color: #141718e7;
}

.Business-Hours .headline {
	margin-bottom: 1rem;
}

.Business-Hours .Button-Group {
	justify-content: space-around;

	margin-top: 3rem;
}

.Day {
	display: flex;
	flex-direction: row;
	margin: 1.5rem 0;
}
.Day :nth-child(1) {
	margin-right: auto;
}


@media screen and (min-width: 501px) {
	.Business-Hours {
		/* height: 100%; */
		/* --res-scale: calc(4rem + ((100vw - 1300px) / 15)); */
		/* padding: 4rem var(--res-scale) 2.5rem var(--res-scale) */
	}
}