.Anchor {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 2.2rem;

	margin-bottom: 2rem;
}

.Anchor h4 {
	font-size: 1.4rem;
}

.Anchor img {
	height: 100%;
}