.Anchor {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 1.2rem;

	margin: .6rem;
}

.Anchor h4 {
	/* font-size: 1rem; */
}

.Anchor img {
	height: 100%;
}