/* alter standard button styles */
button {
	cursor: pointer;
   display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	line-height: 100%;
   height: max-content;
   padding: .4rem 1.7rem;
   -webkit-appearance: none;
   -moz-appearance: none;

   border: .17rem solid white;
   border-radius: 4rem;
	color: #ffffff;

	background: none;
   /* z-index: 1; */
}

button h2 {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.8rem;

	height: 100%;
	width: 100%;
	line-height: 100%;
	margin: 0;
	padding: 0;
}

/* button:hover,
button:focus {
   background: #0053ba;
} */

button:focus {
   outline: transparent;
   /* outline-offset: -4px; */
}


/* button types */
/* menu */
button.menu {
	height: 7rem;
	width: 80%;
	padding: .6rem;
	border: none;
	border-radius: unset;
	margin-top: 1rem;

	overflow: hidden;

	/* temp */
	background-color: cornflowerblue;
}

button img {
	position: absolute;
	min-height: 100%;
	width: 100%;
	object-fit: cover;
}

button.menu h2 {
	font-size: 3rem;
	background-color: rgba(7, 9, 15, 0.74);
}

