.Promo-Container {
	padding: 0;
}

.Promo-Group {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 5rem 0;
}
.Promo-Group::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0; left: 0;

	/* stripes */
	background: repeating-linear-gradient( 135deg,
		transparent,
		transparent .3rem,
		#000000 .3rem,
		#000000 .6rem
	  ),
	  linear-gradient( to bottom,
		rgba(221, 238, 248, 0.829),
		transparent
  	);

	opacity: .05;
	z-index: 1;
}

.Promo-Group .Image-Wrapper.background {
	opacity: .75;
}

.Promo-Group img {
	width: 100%;
	object-fit: cover;

	filter: brightness(.2) contrast(1.4);
}

.Doormat-Container {
	position: relative;
	padding: 8rem 0;
}

.Doormat-Container .Heading-Group {
	padding-right: 25%;
}
.Doormat-Container h2 {
	max-width: 27rem;
}
.Doormat-Container h3 {
	max-width: 24rem;
}

.Doormat-Container .background {
	opacity: .07;
}



@media screen and (min-width: 1201px) {
	.Promo-Container {
		display: flex;
		flex-direction: row;
		height: 37rem;
	}

	.Article-Image {
		max-width: 40%;
	}

	.Promo-Group {
		height: 100%;
		/* width: 55%; */
	}
	.Promo-Group .Heading-Group {
		max-width: 60%;

	}

	.Promo-Group h3 {
		/* font-weight: 600; */
		margin-bottom: 2rem;
		/* max-width: 2rem; */
	}

	.Doormat-Container .Heading-Group {
		width: 75%;
		padding: 4rem 0;
	}
	.Doormat-Container h3 {
		max-width: 31rem;
	}

	.Doormat-Container .background {
		text-align: right;
		height: 100%;
		/* width: auto; */
	}
	.Doormat-Container img {
		position: relative;
		right: 2%;
		width: unset;
	}
}