.News-Post-Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.News-Post {
	width: 90%;
	margin-top: 4rem;
}

.News-Post .Image-Wrapper {
	min-height: 20rem;
}

.News-Post-Content {
	text-align: left;
	width: 100%;
	padding: 1rem 1rem 1.5rem 1rem;
	margin-top: .6rem;

	background-color: #d8e7e3;
}

.News-Post-Content h4 {
	margin: 1rem 0 1.5rem 0;
}

.Tags-Container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.Hash-Tag {
	margin-right: 1rem;
}


@media screen and (min-width: 501px) {
	.News-Post-Container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.News-Post {
		--horizontal-margin: calc(3vw + (10 - 2) * (100vw - 940px) / (940 - 501));
		max-width: calc(13.5rem + 8%);
		margin: 4rem var(--horizontal-margin) 0 var(--horizontal-margin);
	}
}

@media screen and (min-width: 941px) {
	.News-Post-Container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.News-Post {
		--horizontal-margin: calc(1.7vw + (10 - 2) * (100vw - 1600px) / (1600 - 941));
		max-width: calc(14rem + 6%);
		margin: 4rem var(--horizontal-margin) 0 var(--horizontal-margin);
	}
}