nav {
	display: flex;
	position: sticky;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	top: 0;
	height: 3rem;
	width: 100%;
	z-index: 4;
	/* background-color: #151a1c; */
}

nav.stuck {
	background-color: #0c1113;
}

.Section-Links {
	display: flex;
	position: relative;
	align-items: center;
	height: 100%;
	width: calc(27rem + 10vw);
	/* background-color: rgb(10, 10, 27); */
}