.App {
  /* display: flex; */
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
min-height: 100vh;
  height: calc(100 * var(--vh));

  width: 100%;
  text-align: center;

  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.App-header {
  position: absolute;
}