.App {
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* transform-style: preserve-3d; */
	/* will-change: transform; */
}

.App-header {
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: flex-end;
	top:0;
	width: 100%;
	padding: .2rem 1rem;
}


/* DEV */
vis-bug {
  z-index: 1000;
}