.App {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  text-align: center;

  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}

.App-header {
  position: absolute;
}