@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: 'OTS';
	src: url('ass/fonts/OTS.otf') format('opentype');
	font-weight: 500;
	font-display: block;
}

/* css global variables */
:root {
	--dark: #151a1c;
	--light: #e9e9e9;
	--acc: red;

	/* typography colors */
	--txt-dark: black;
	--txt-light: white;
	--txt-acc: #dc9457;
}

* {
	text-decoration: none;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
	z-index: 1;
}

body {
	position: relative;

	font-family: 'Signika', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #000;
	z-index: 1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-family: 'OTS', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 4.4rem;

	margin-bottom: 1.7rem;
}

h2 {
	font-family: 'OTS', sans-serif;
	font-weight: 500;
	font-variation-settings: 'wght' 700;
	color: #fff;
	font-size: 3rem;

	margin-bottom: 1.4rem;
}

h3 {
	font-family: 'Inter', sans-serif;
	/* font-weight: 300; */
	font-variation-settings: 'wght' 275;

	font-size: 1.4rem;
	color: #fff;
}

h4 {
	font-family: 'Inter', sans-serif;
	/* font-weight: 400; */
	font-variation-settings: 'wght' 400;
	font-size: 1rem;
}

h5 {
	font-family: 'Inter', sans-serif;
	/* font-weight: 600; */
	font-variation-settings: 'wght' 600;
	font-size: .9rem;
	color: #222;
}

h1.dark, h2.dark,
h3.dark {
	color: var(--txt-dark);
}
h1.light, h2.light,
h3.light {
	color: var(--txt-light);
}
h1.accent, h2.accent,
h3.accent {
	color: var(--txt-acc);
}

p {
	margin-top: 1.4rem;
}

a {
	color: #fff;
}
